@model BeStreet.Domain.Entities.User.Customer

@{

    Layout = "~/Views/Shared/_AdminLayoutEdit.cshtml";
    <title>Edit Customers</title>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage;
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData.Peek("SuccessMessage")
    </div>
}

@{
    var stext = ViewBag.stext;
}

<div class="d-sm-flex align-items-center justify-content-between mb-5">
    <h1 class="h3 mb-2 text-gray-800">Editeaza Client</h1>
</div>

<div class="row">
    <div class="row mb-4">
        <div class="col-xl-8 col-lg-7">

        </div>
        <div class="col-xl-4 col-lg-5">
            <div class="position-absolute bottom-0 end-0">
                <a class="btn btn-outline-primary" href=@Url.Action("Index")>Inapoi la lista</a>
                <a class="btn btn-outline-primary" href=@Url.Action("Edit")>Actualizeaza</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Informații clienți</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 mr-4">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Media</h6>
                            </div>
                            <div class="card-body">
                                <div class="card" style="border: 1px dashed #9d9da0; border-spacing: 50px">
                                    <div class="card-body">
                                        <div class="mx-auto">
                                             <img src="@ViewBag.ImgFile" class="card-img-top" />
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="col">
                                    <dev class="row">
                                        @using (Html.BeginForm("ImgUpload", "ManageCustomers", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <div class="mb-3">
                                                <input type="hidden" name="theid" value="@Model.Id" />
                                                <label for="formFile" class="form-label">Selecteaza imagine</label>
                                                <input name="imgfiles" class="form-control" type="file" accept="image/png" required>
                                                <br>
                                                <input class="btn btn-success" type="submit" value="Incarca" />
                                            </div>
                                        }
                                            <div class="mb-3">
                                                <a class="btn btn-danger" onclick="return confirm('Confirmați ștergerea fotografiei')" href=@Url.Action("ImgDelete", "ManageCustomers", new { id = Model.Id })>
                                                    Sterge
                                                </a>
                                            </div>
                                    </dev>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="d-sm-flex align-items-center justify-content-between mb-5">
                            <h1 class="h3 mb-2 text-gray-800">Forma clienti</h1>
                        </div>
                        @using (Html.BeginForm("Edit", "ManageCustomers", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationMessage("ModelOnly", new { @class = "text-danger" })
                            <div class="form-group">
                                <label for="Id" class="control-label">Client Id Nr</label>
                                @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = true })
                                @Html.ValidationMessageFor(m => m.Id, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="Name" class="control-label">Nume și prenume</label>
                                @Html.TextBoxFor(m => m.Name, new
                                {
                                    @class = "form-control",
                                    placeholder = "Nume și prenume",
                                    required = true,
                                    type = "text"
                                })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="Login" class="control-label">Username Id</label>
                                @Html.TextBoxFor(m => m.Login, new
                                {
                                    @class = "form-control",
                                    @readonly = true,
                                    type = "text"
                                })
                                @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label for="Pass" class="control-label">Parola</label>
                                @Html.TextBoxFor(m => m.Pass, new
                                {
                                    @class = "form-control",
                                    @readonly = true,
                                    type = "password"
                                })
                                @Html.ValidationMessageFor(m => m.Pass, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label for="Email" class="control-label">Email</label>
                                @Html.TextBoxFor(m => m.Email, new
                               {
                                   @class = "form-control",
                                   placeholder = "Email",
                                   required = true,
                                   type = "email"
                               })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label for="StartDate" class="control-label">Data inceput</label>
                                @Html.TextBoxFor(m => m.StartDate, new
                                {
                                    @class = "form-control",
                                    placeholder = "Data inceput",
                                    @readonly = true,
                                })
                                @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label for="LastLogin" class="control-label">Data sfirsit</label>
                                @Html.TextBoxFor(m => m.LastLogin, new
                                {
                                    @class = "form-control",
                                    placeholder = "Data sfirsit",
                                    @readonly = true,
                                })
                                @Html.ValidationMessageFor(m => m.LastLogin, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="Role" class="control-label">Nivelul de acces</label>
                                @Html.EnumDropDownListFor(m => m.Role, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Role, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                <input class="btn btn-success" type="submit" value="Save form" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>