@model IEnumerable<BeStreet.ViewModels.CustomerVM>
@{
    Layout = "_AdminLayoutEdit";
    <title>Manager de clienti</title>

}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData.Peek("SuccessMessage")
    </div>
}

@{
    var stext = ViewBag.stext;
}

<div class="d-sm-flex align-items-center justify-content-between mb-5">
    <h1 class="h3 mb-2 text-gray-800">Lista clienti</h1>
</div>
<div class="row">
    <div class="row mb-4">
        <div class="col-xl-8 col-lg-7">

        </div>
        <div class="col-xl-4 col-lg-5">
            <div class="position-absolute bottom-0 end-0">
                <a class="btn btn-outline-primary" asp-area="" asp-controller="ManageCustomers" asp-action="Create">Adauga client</a>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tabelul de clienti</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered display" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Client Id Nr</th>
                        <th>Nume</th>
                        <th>Username Id</th>
                        <th>Parola</th>
                        <th>Email</th>
                        <th>Data inceput</th>
                        <th>Data ultima logare</th>
                        <th>Editare</th>
                        <th>Stergere</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CusId</td>
                            <td>@item.CusName</td>
                            <td>@item.CusLogin</td>
                            <td>@item.CusPass</td>
                            <td>@item.CusEmail</td>
                            <td>@item.StartDate</td>
                            <td>@item.LastLogin</td>

                            <td class="text-center">
                                <a asp-action="Edit" asp-route-id="@item.CusId">
                                    <i class="fas fa-edit"></i>

                                </a>
                            </td>
                            <td class="text-center">
                                <a asp-action="Delete" asp-route-id="@item.CusId">
                                    <i class="text-center fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





