@{
    string currentNav = ViewBag.currentNav ?? "";
}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Panou Administrativ</div>
    </a>
    <hr class="sidebar-divider my-0">
    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Instrumente de management
    </div>

    <li class="nav-item @( currentNav == "Product/Create" || currentNav == "Product" ? "active" : "")">
        <a class="@( currentNav == "Product/Create" || currentNav == "Product" ? "nav-link" : "nav-link collapsed")" href="#" data-toggle="collapse" data-target="#collapseProducts"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-shopping-cart"></i>
            <span>Produse</span>
        </a>
        <div id="collapseProducts" class="collapse @(currentNav == "Product/Create" || currentNav == "Product" ? "show" : "")" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Produs: </h6>
                <a class="collapse-item @(currentNav == "Product" ? "active" : "")" href=@Url.Action("Index", "Product")>Lista de produse</a>
                <a class="collapse-item @(currentNav == "Product/Create" ? "active" : "")" href=@Url.Action("Create", "Product")>Adauga produse</a>
                <div class="collapse-divider"></div>
            </div>
        </div>
    </li>

    <li class="nav-item @(currentNav == "ManageCustomers/Create" || currentNav == "ManageCustomers" ? "active" : "")">
        <a class="@(currentNav == "ManageCustomers/Create" || currentNav == "ManageCustomers" ? "nav-link" : "nav-link collapsed")" href="#" data-toggle="collapse" data-target="#collapsePeople"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-solid fa-user"></i>
            <span>Clienti</span>
        </a>
        <div id="collapsePeople" class="collapse @(currentNav == "ManageCustomers/Create" || currentNav == "ManageCustomers" ? "show" : "")" aria-labelledby="headingPages" data-parent="#accordionSidebar">

            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Clienti:</h6>
                <a class="collapse-item @(currentNav == "ManageCustomers" ? "active" : "")" href=@Url.Action("Index", "ManageCustomers")>Lista clienti</a>
                <a class="collapse-item @(currentNav == "ManageCustomers/Create" ? "active" : "")" href=@Url.Action("Create", "ManageCustomers")>Adauga client</a>
                <div class="collapse-divider"></div>
            </div>
        </div>
    </li>


    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>

