@model MagazinHaine.Models.UserLogin

@{
    Layout = null;
    // ViewData["Title"] = "Login Page";
    <title>Autetificare utilizator</title>
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <link href="~/wwwroot/AdminTemplate/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/wwwroot/AdminTemplate/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">
        <div class="container">
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger mt-3">
                    @TempData["ErrorMessage"]
                 </div>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success mt-3" role="alert">
                    @TempData.Peek("SuccessMessage")
                </div>
            }

            @if (Session["CusId"] == null)
            {
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-12 col-md-9">
                        <div class="card o-hidden border-0 shadow-lg my-5">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                    <div class="col-lg-6">
                                        <div class="p-5">
                                            <div class="text-center">
                                                <h1 class="h4 text-gray-900 mb-4">Bine a-ți venit!</h1>
                                            </div>
                                            <form class="user" asp-controller="Home" asp-action="Login" method="post">
                                                @Html.AntiForgeryToken()
                                                <div class="form-group">
                                                    <!--<input type="text" class="form-control form-control-user"
                                                           id="exampleInputuserName" name="userName" aria-describedby="emailHelp"
                                                           placeholder="Username Id">-->
                                                    @Html.TextBoxFor(m => m.Username, new 
                                               {
                                                   @class = "form-control",
                                                   placeholder = "Username Id",
                                                   required = true,
                                                   type = "text"
                                               })
                                                </div>
                                                <div class="form-group">
                                                   <!-- <input type="password" class="form-control form-control-user"
                                                           id="exampleInputPassword" name="userPass" placeholder="Parola">-->
                                                    @Html.TextBoxFor(m=> m.Password, new
                                               {
                                                   @class = "form-control",
                                                   placeholder = "Parola",
                                                   required = true,
                                                   type = "password"
                                               } )
                                                </div>
                                                <br></br>
                                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                                    Autentificare
                                                </button>
                                                <hr>
                                            </form>
                                            <div class="text-center">
                                                <a class="small" asp-area="" asp-controller="Home" asp-action="Register">Creaza un cont!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="display-4">Welcome @Session["CusName"]</div>
            }
        </div>

        <script src="~/wwwroot/AdminTemplate/vendor/jquery/jquery.min.js"></script>
        <script src="~/wwwroot/AdminTemplate/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/wwwroot/AdminTemplate/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="~/wwwroot/AdminTemplate/js/sb-admin-2.min.js"></script>

    </body>
</html>

