@model IEnumerable<BeStreet.Domain.Entities.Items.Cart>
@{
    ViewData["Title"] = "Istoricul cumparaturilor";
}
@{
	var CusName = Session["CusName"] as string;
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning text-start" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success text-start" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<div class="container">
    <h2 class="text-muted">Istoricul cumparaturilor @CusName</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>Nr</th>
            <th>Id</th>
            <th>Data</th>
            <th class="text-end">Cantitate</th>
            <th class="text-end">Total</th>
            <th class="text-center">Metoda de plata</th>
            <th class="text-center">Livrare</th>
        </tr>
        @{
            var i = 0;
        }
        @foreach(var item in Model)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>
                    <a asp-action="Show" asp-route-cartid="@item.CartId">@item.CartId</a>
                </td>
                <td>@item.CartDate</td>
                <td class="text-end">@item.CartQty</td>
                <td class="text-end">@item.CartMoney</td>
                @* <td class="text-center">@(@item.CartCf == "Y" ? "Yes" : "No") </td> *@
                <td class="text-center">@(@item.CartPay == "Y" ? "Da" : "Nu")</td>
                <td class="text-center">
                    @(item.CartSend == null ? "Nu a fost încă plătit" : item.CartSend)
                </td>
            </tr>
        }
    </table>
</div>