@model dynamic
@using BeStreet.Domain.Entities.Items;
@using BeStreet.Domain.Entities.ViewModels;

<div class="container">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-warning">@TempData["ErrorMessage"]</div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success text-start" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
</div>

<div class="container">
    @{
        var master = Model.Master;
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title text-primary opacity-75">Cosul de cumparaturi</h4>
                <div class="text-danger text-end">
                    Cantitate @master.CartQty Total @master.CartMoney.ToString("#,###.##") euro
                </div>
                <hr />
                @if (master.CartCf != "Y")
                {
                    <a class="btn btn-danger" href=@Url.Action("Delete", "Cart") onclick="return confirm('Confirmați pentru a șterge.')">
                        <i class="bi-cart-x-fill"></i> Șterge
                    </a>
                    <a class="btn btn-primary" href=@Url.Action("Confirm", "Cart") onclick="return confirm('Confirmă comanda')">
                        <i class="bi-currency-dollar"></i> Confirmă comanda
                    </a>
                }
                else if (master.CartPay != "Y")
                {
                    <a class="btn btn-primary" href=@Url.Action("Paid", "Cart", new { cartid = master.CartId }) onclick="return confirm('Confirma plata')">
                        <i class="bi-currency-dollar"></i> Confirma plata
                    </a>
                }
            </div>
        </div>
    }
    <table class="table table-hover mt-3 ">
        <tr class="bg-light">
            <td></td>
            <td>Codul produsului</td>
            <td>Numele produsului</td>
            <td>Culoare</td>
            <td>Marimea</td>
            <td class="text-end">Preț/unitate</td>
            <td class="text-center">Cantitate</td>
            <td class="text-end">Preț total</td>
            <td></td>
        </tr>
        @{
            var i = 0;
        }
        @foreach (CtdVM detail in Model.Detail)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>
                    <a href=@Url.Action("Show", "Product", new { id = detail.PdId})>View</a>
                </td>
                <td>@detail.PdName</td>
                <td>@detail.ColorName</td>
                <td>@detail.SizeName</td>
                <td class="text-end">@detail.CdtlPrice.Value.ToString("#,###.##")</td>
                <td class="text-center">@detail.CdtlQty</td>
                <td class="text-end">@detail.CdtlMoney.Value.ToString("#,###.##")</td>
                <td class="text-center">
                    @if (Model.Master.CartPay == "N")
                    {
                        <a href=@Url.Action("DeleteDtl", "Cart", new { pdid = detail.PdId }) onclick="return confirm('Șterge produsele selectate?')">
                            <i class="bi-x-lg text-danger"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </table>

</div>