@model BeStreet.Models.Staff
@{
    Layout = "_AdminLayoutEdit";
    <title>Profil</title>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage;
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
    @*     @ViewBag.ErrorMessage; *@
        @TempData.Peek("ErrorMessage")
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData.Peek("SuccessMessage")
    </div>
}

@{
    var stext = ViewBag.stext;
}

<div class="d-sm-flex align-items-center justify-content-between mb-5">
    <h1 class="h3 mb-2 text-gray-800">Profil</h1>
</div>

<div class="row">
    <div class="row mb-4">
        <div class="col-xl-8 col-lg-7">

        </div>
        <div class="col-xl-4 col-lg-5">
            <div class="position-absolute bottom-0 end-0">
                <a class="btn btn-outline-primary" asp-controller="Order" asp-action="Index">Inapoi la lista de comenzi</a>
                <a class="btn btn-outline-primary" asp-action="Show">Actualizare</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Informații despre clienți</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 mr-4">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Media</h6>
                            </div>
                            <div class="card-body">
                                <div class="card" style="border: 1px dashed #9d9da0; border-spacing: 50px">
                                    <div class="card-body">
                                        <div class="mx-auto">
                                            <img src="@ViewBag.ImgFile" class="card-img-top" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="col">
                                    <dev class="row">
                                        <form method="post" enctype="multipart/form-data" asp-action="ImgUpload">
                                            <div class="mb-3">
                                                <input type="hidden" name="theid" value="@Model.StfId" />
                                                <label for="formFile" class="form-label">Selecteaza imaginea</label>
                                                <input name="imgfiles" class="form-control" type="file" accept="image/png" required>
                                                <br>
                                                <input class="btn btn-success" type="submit" value="Upload" />
                                            </div>
                                        </form>
                                        <div class="mb-3">
                                            <a class="btn btn-danger" onclick="return confirm('Confirmați ștergerea imaginei')" asp-action="ImgDelete" asp-route-id="@Model.StfId">
                                                Sterge
                                            </a>
                                        </div>
                                    </dev>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="d-sm-flex align-items-center justify-content-between mb-5">
                            <h1 class="h3 mb-2 text-gray-800">Forma client</h1>
                        </div>
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="StfName" class="control-label">Nume</label>
                                <input asp-for="StfName" class="form-control" />
                                <span asp-validation-for="StfName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="StfId" class="control-label">Id Client</label>
                                <input type="hidden" asp-for="StfId" class="form-control"/>
                                <input asp-for="StfId" class="form-control" disabled/>
                                <span asp-validation-for="StfId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="StfPass" class="control-label">Parola</label>
                                <input asp-for="StfPass" class="form-control"/>
                                <span asp-validation-for="StfPass" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DutyId" class="control-label">Tax Id</label>
                                <input type="hidden" asp-for="DutyId" class="form-control" />
                                <input asp-for="DutyId" class="form-control" disabled />
                                <span asp-validation-for="DutyId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="StartDate" class="control-label">Data Inceput</label>
                                <input type="hidden" asp-for="StartDate" class="form-control" />
                                <input asp-for="StartDate" class="form-control" disabled />
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="QuitDate" class="control-label">Data Sfirsit</label>
                                <input type="hidden" asp-for="QuitDate" class="form-control" />
                                <input asp-for="QuitDate" class="form-control" placeholder="yyyy-MM-dd" disabled />
                                <span asp-validation-for="QuitDate" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <input class="btn btn-success" type="submit" value="Save form" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    merge uraaaian
    oe azi gata?
    pot sa mai fac inc,a  otleac tu ce nu ai somn?
    danu  esti obosit?
    dc as fi, nam facut nimic practic
    atunci hai sa facem
    da spune si mie ce sa fac, ca stau doar si urmaresc...eu singur hz ce de facut aaa,
    a aporpo acolo in proiect era tipa migrari, ce e cu viata lor si ce trbeuie de fsacut
    ele arata schimbarile in forma tabelelor din baza de date si nu chiar trebuie copiate din colo in coace
    da ele se creaza singure sau cum
    cand vrei sa adaugi de exemplu in camp in plus pentru tabelul de utilizator, scrii cateva comenzi
    si se creaza aha, assa o intrebare, tu vezi cand la mine se stinge ecranul pe somn? habar nu am
    singura ce vad ii windowsu gen, vezi ca cateodata dau cu mouseul nu , eu zic ca trebuie de lasat tetxul aici de creat un dialog
    si de facut commit cu el, cel care il va deschide iii va fi interresant sa citeascsa
    foarte :>hai dar spune ce de facut ce sa deschid, in business logic trebuie de adaufat inca ceva?
    o sa mergem prin home controller si extragem functii posibile in business logic ok arata si facem
    trebu sa copii din proiectu clothesshop din mapa models, clasele care is mentionate in bestreetcontext
    si nu leam adaugat eu a?
    care inca arata cu rosu in BeStreetContext copiele din proiecs aa
eu tipa ce e cu rosu trebuie sa iau din proiectul cela si sa pun in modelL? btyi pa= la noi acums eafla doar user login.
nu in models da in entities.iitems ahaaaaa
acum am inteles, super, fac acum sau pentru maine? ii putin de facut pentru mainefac acum, dar eu am avut in
vedere gen tu vri sa pleci? nuh uhok ok dar eu te chem prin mesaj cand sa te reintorciinapo
numa nu te uita ce cacatei fac. bineee