@model BeStreet.Domain.Entities.User.UserProfile

@{
    ViewData["Title"] = "Profil";
}

<div class="container">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData.Peek("SuccessMessage")
        </div>
    }

    <div class="mt-2 text-muted">
        <h1>Informații personale</h1>
    </div>
    <div class="row">
        <div class="row mb-4">
            <div class="col-xl-8 col-lg-7">

            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="position-relative">
                    <div class="position-absolute bottom-0 end-0">
                        <a class="btn btn-outline-primary" href = @Url.Action("Index", "Home")>Inapoi</a>
                        <a class="btn btn-outline-primary" href = @Url.Action("Show")>Actualizeaza</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row center">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 mr-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-gray-800">Poza de profil</h6>
                                </div>
                                <div class="card-body">
                                    <div class="card" style="border: 1px dashed #9d9da0; border-spacing: 50px">
                                        <div class="card-body">
                                            @* <div class="card mx-auto" style="height: 23rem; width: 23rem"> *@
                                            <div class="mx-auto">
                                                <img src="@ViewBag.ImgFile" class="card-img-top" />
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="col">
                                        <dev class="row">
                                            @using (Html.BeginForm("ImgUpload", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {
                                                <div class="mb-3">
                                                    <input type="hidden" name="theid" value="@Model.Id" />
                                                    <label for="formFile" class="form-label">Selecteaza imagine</label>
                                                    <input name="imgfiles" class="form-control" type="file" accept="image/png" required>
                                                    <br>
                                                    <input class="btn btn-success" type="submit" value="Incarca" />
                                                </div>
                                            }
                                            <div class="mb-3">
                                                <a class="btn btn-danger" onclick="return confirm('Confirmați ștergerea fotografiei')" href=@Url.Action("ImgDelete", "Customer", new { id = Model.Id })>
                                                    Sterge
                                                </a>
                                            </div>
                                        </dev>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="d-sm-flex align-items-center justify-content-between mb-2">
                                <h1 class="h3 mb-2 text-muted">Detalii</h1>
                            </div>
                            @using (Html.BeginForm("Edit", "Customer", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationMessage("ModelOnly", new { @class = "text-danger" })
                                <div class="form-group  mb-2">
                                    <label class="control-label">Numele și prenumele </label>
                                    @Html.TextBoxFor(m => m.Name, new
                               {
                                   @class = "form-control",
                                   placeholder = "Nume și prenume",
                                   required = true,
                                   type = "text"
                               })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                    @*<input asp-for="Name" class="form-control" placeholder="Nume și prenume" required />*@
                                    @*<span asp-validation-for="Name" class="text-danger"></span>*@
                                </div>
                                <div class="form-group mb-2">
                                    <label class="control-label">Username</label>
                                    @Html.TextBoxFor(m => m.Login, new
                               {
                                   @class = "form-control",
                                   placeholder = "Username",
                                   @readonly = true,
                                   required = true,
                                   type = "text"
                               })
                                    @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                                    @*<input asp-for="Login" class="form-control" disabled />*@
                                    @*<span asp-validation-for="Login" class="text-danger" placeholder="Username"></span>*@
                                    @*<input type="hidden" asp-for="Login" class="form-control" />*@
                                </div>
                                <div class="form-group mb-2">
                                    <label class="control-label">Parola</label>
                                    @Html.TextBoxFor(m => m.Pass, new
                               {
                                   @class = "form-control",
                                   placeholder = "Parola",
                                   required = true,
                                   type = "password"
                               })
                                    @Html.ValidationMessageFor(m => m.Pass, "", new { @class = "text-danger" })
                                    @*<input asp-for="Pass" class="form-control" placeholder="Parola" required />*@
                                    @*<span asp-validation-for="Pass" class="text-danger"></span>*@
                                </div>
                                <div class="form-group mb-2">
                                    <label class="control-label">Email</label>
                                    @Html.TextBoxFor(m => m.Email, new
                               {
                                   @class = "form-control",
                                   placeholder = "Email",
                                   required = true,
                                   type = "email"
                               })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    @*<input type="email" asp-for="Email" class="form-control" placeholder="Email" required />*@
                                    @*<span asp-validation-for="Email" class="text-danger"></span>*@
                                </div>
                                <div class="form-group mb-2">
                                    <label class="control-label">Adresa</label>
                                    @Html.TextAreaFor(m => m.Add, new
                               {
                                   @class = "form-control",
                                   placeholder = "Adresa",
                                   rows = "4",
                                   type = "text"
                               })
                                    @Html.ValidationMessageFor(m => m.Add, "", new { @class = "text-danger" })
                                    @*<textarea asp-for="CusAdd" class="form-control" rows="4" placeholder="Adresa"></textarea>
                    <span asp-validation-for="CusAdd" class="text-danger"></span>*@
                                </div>
                                <br>
                                <div class="mb-3">
                                    <input class="btn btn-success" type="submit" value="Salveaza" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>